# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.pytest_cache
.coverage
htmlcov
dist
build

# Logs
*.log

# Environment variables
.env
.env.local

# OS
.DS_Store

# Git
.git
.gitignore

# IDEs
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
.dockerignore
